<!DOCTYPE html>
<html>
  <head>
    <title>超然企业资源管理平台</title>
    <%= csrf_meta_tags %>
    <% cache :assets do %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/themes/classic.css" rel="stylesheet">
      <link href="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/themes/classic.date.css" rel="stylesheet">
      <script src="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/picker.js"></script>
      <script src="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/picker.date.js"></script>
    <% end %>
  </head>

  <body>
    <div class="full-height">
      <div class="row-fluid full-height">
        <div class="col-md-2 full-height" style="padding: 0;">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-10 full-height main-color">
          <div class="row auto-height">
            <div class="col-md-12 col-lg-12 ">
              <br>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
